.intro-divs{
    background-color: rgb(210, 233, 201);
}
.paragraphs-holders:hover{
    background-color: rgb(210, 233, 201);
}
.article-header{background-image: url(../images/actions.jpg);}
aside{
    margin-bottom: 60vh;
}
@media (max-width: 786px){
    .article-header{
        background-position: right;
        background-size: 200px 200px;
    }
}
